@font-face {
    font-family: "clash display";
    src: url(ClashDisplay-Variable.ttf);
}

body{
    font-family: "clash display", sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
/* .container{
   position: absolute;
    top: 0;
    left: 10%
} */

#text {
  color: #dfdcff;
  font-size: 30px;
  text-align: center;

}
/* .h1 , .point {

    font-size: 1em;
    color: tomato;
} */

/* hero section container */

.hero-container{
    display: flex;
    height: 95vh;
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}
img{
    width: 45%;
    height: auto;
    height: 100%;
    border-radius: 35px;
    object-fit: cover;
}

.hero-text-container{
    width: 45%;
    height: auto;
    text-align: center;

}

.hero-span{
    border: 1px solid gray;
    padding: 15px 25px;
    border-radius: 20px;
    color: gray;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.hero-span svg{
  margin-right: 15px;
}
 
.hero-h1{
    font-family: "clash display", sans-serif;
    font-size: 4.5em;
    font-weight: regular;
    letter-spacing: 4px;
    line-height: 1.1em;
    padding: 20px 0px 20px 0px;
}
.hero-btn{
    padding: 20px 35px;
    font-size: 1.6em;
    background-color: rgb(186, 232, 132);
    color: black;
    border: none;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.5s ease-in;
    border-radius: 20px;
    cursor: pointer;
}

.check-icon{
    display: none;
    transition: all 0.s ease-out;
}
.hero-btn:hover .check-icon{
    display: inline-block;
    opacity: 0.6;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    vertical-align: middle;
    
}

